* {
  color: #707275;
}

#homeFooter {
  color: #ffffff !important;
}

a {
  color: inherit !important;
  text-decoration: inherit !important;
}

td {
  vertical-align: middle;
}

#loginText {
  margin-top: 10px;
}

#loginForm {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px -2px;
}

#registerForm span {
  font-size: 0.8rem;
}

.form-control {
  color: #707275 !important;
}

.password {
  position: relative;
}

.passwordEyeIcon {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

#loginForm p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 7px 0px;
  font-size: 0.8rem;
}

#submitButton,
#registerButton {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#submitButton {
  background-color: #ee6c4d;
  border-color: #ee6c4d;
}

#registerButton {
  background-color: #70e500;
  border-color: #70e500;
  width: 70%;
}

#productsTable {
  position: relative;
}

#editButtonTable {
  position: relative;
}

#addRow {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-10%, 50%);
}

#saveChanges {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-120%, 50%);
  z-index: 5;
}

#cancelChanges {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-10%, 50%);
  z-index: 5;
}

.productEdit {
  width: 100%;
}

.dashboardButton {
  font-size: 0.8rem !important;
  padding: 2px 15px 2px 15px !important;
  color: black !important;
}

#headerContainer {
  background-image: url("./header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vh;
}

.productPhoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 5px;
}

.productCheckoutPhoto {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 5px;
}

.photoHolder {
  border: none !important;
  color: none !important;
}

.imageUploadProducts > input {
  display: none;
}

#basic-navbar-nav {
  flex-grow: 0;
  margin-left: auto;
}

.navbar-toggler {
  margin-left: auto;
  order: 3;
}

#cart {
  order: 2;
  flex-grow: 1;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

#cart div {
  position: absolute;
  font-size: 0.6rem;
  border-radius: 100%;
  border: 1px solid #707275;
  background-color: white;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  right: 0%;
  top: 0%;
  transform: translate(20%, -20%);
}

#cart svg {
  margin-left: auto;
}

#searchbar input {
  display: none;
}

#searchbar svg {
  position: absolute;
  right: 0px;
  top: 23px;
  transform: translate(-575%, 0%);
}

#deliveryCard {
  margin-bottom: 15px;
}

#productCard .card-title {
  font-size: 1rem;
}

#productCard .card-subtitle {
  font-size: 0.9rem;
  margin: 7px 0px 7px 0px;
  color: red;
}

#productCard .card-subtitle span {
  float: right;
}

#productCard .card-text {
  font-size: 0.8rem;
}

#productCard .card-img {
  max-height: 75px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

#productCard .card-img:hover {
  transform: scale(1.2);
}

#productCard {
  margin: 10px 0px 10px 0px;
  overflow: hidden;
}

#productViewPrice {
  font-size: 1.6rem;
  color: red;
  margin: 7px 0px 35px 0px;
}

.productSpacer {
  margin: 0px 0px 35px 0px;
}

.quantityChanger div {
  display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
}

.quantityChanger div:first-child,
.quantityChanger div:last-child {
  border: 1px solid #707275;
  cursor: pointer;
}

.quantityChanger div {
  border-top: 1px solid #707275;
  border-bottom: 1px solid #707275;
}

#addToCartButton {
  margin: 0px 10px 0px 0px;
}

.btn-outline-secondary {
  background-color: #ee6c4d !important;
  color: white !important;
}

.btn-outline-secondary:hover {
  background-color: white !important;
  color: #707275 !important;
  fill: gray !important;
}

.btn-outline-secondary:hover svg {
  fill: gray !important;
}

#profile {
  display: none;
  cursor: pointer;
}

.buyNowButton,
.addToCartButton {
  width: 150px;
}

.svgPointer {
  cursor: pointer;
}

.red {
  color: red;
}

.total-cart span {
  color: red;
  font-size: 1.2rem;
}

.fullwidth {
  width: 100%;
}

.cartFooter td {
  padding: 10px 0px 10px 0px !important;
}

.checkoutDropdown {
  margin: 10px 0px 0px 0px;
}

.checkoutDropdown button,
.checkoutDropdown a {
  font-size: 0.9rem;
}

.centerCheckoutDropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.checkoutTotal,
#profileTotal {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}

.orderCard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orderCard span,
.profileCard span,
.userCard span {
  float: right;
}

.orderSpacer {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media (min-width: 768px) {
  #loginText {
    margin-top: 150px;
  }

  #profile {
    display: inherit;
  }

  #cart {
    order: 3;
    flex-grow: 0;
  }

  #searchbar {
    position: relative;
  }

  #searchbar input {
    display: inherit;
  }

  #searchbar svg {
    position: absolute;
    right: 0%;
    left: initial;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #basic-navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }

  #searchFilter {
    height: 100%;
    width: 15%;
    max-width: 250px;
    display: inline-block;
  }

  #productsList {
    width: 85%;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  #loginForm {
    margin-top: 150px;
  }
  #loginText {
    position: relative;
    top: 10%;
  }
}
